apiVersion: apps/v1
kind: Deployment
metadata:
name: {{ include "bg.name" . }}-product-{{ .Values.activeColor }}
labels:
app.kubernetes.io/name: product-service
color: {{ .Values.activeColor }}
spec:
replicas: {{ .Values.app.replicas }}
selector:
matchLabels:
app.kubernetes.io/name: product-service
color: {{ .Values.activeColor }}
template:
metadata:
labels:
app.kubernetes.io/name: product-service
color: {{ .Values.activeColor }}
spec:
containers:
- name: product
image: "{{ if eq .Values.activeColor "blue" }}
{{ .Values.app.imageProductBlue }}{{ else }}{{ .Values.app.imageProductGreen }}
{{ end }}"
ports:
- containerPort: {{ .Values.app.containerPort }}
readinessProbe:
httpGet:
path: /health
port: {{ .Values.app.containerPort }}
initialDelaySeconds: 10
periodSeconds: 10
resources:
{{ toYaml .Values.app.resources | indent 8 }}
