apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "bg.fullname" . }}-product-{{ .Values.activeColor }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "bg.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.app.product.replicas }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ .Values.labels.app }}
      color: {{ .Values.activeColor }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ .Values.labels.app }}
        color: {{ .Values.activeColor }}
    spec:
      containers:
      - name: product
        image: {{ ternary .Values.app.product.imageGreen .Values.app.product.imageBlue (eq .Values.activeColor "green") | quote }}
        ports:
          - containerPort: {{ .Values.app.product.containerPort }}
        readinessProbe:
          httpGet:
            path: /health
            port: {{ .Values.app.product.containerPort }}
          initialDelaySeconds: 10
          periodSeconds: 10
        livenessProbe:
          httpGet:
            path: /health
            port: {{ .Values.app.product.containerPort }}
          initialDelaySeconds: 30
          periodSeconds: 20
        resources:
{{ toYaml .Values.app.product.resources | indent 10 }}
