apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "bg.fullname" . }}-product
  labels:
    {{- include "bg.labels" . | nindent 4 }}
    color: {{ .Values.activeColor }}
spec:
  replicas: {{ .Values.app.product.replicas }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ .Values.labels.app }}
      color: {{ .Values.activeColor }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ .Values.labels.app }}
        color: {{ .Values.activeColor }}
    spec:
      containers:
        - name: product
          image: {{ ternary .Values.app.product.imageGreen .Values.app.product.imageBlue (eq .Values.activeColor "green") }}
          ports:
            - containerPort: {{ .Values.app.product.containerPortProduct }}
          readinessProbe:
            httpGet:
              path: /health
              port: {{ .Values.app.product.containerPortProduct }}
            initialDelaySeconds: 10
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /health
              port: {{ .Values.app.product.containerPortProduct }}
            initialDelaySeconds: 30
            periodSeconds: 20
          resources:
{{ toYaml .Values.app.product.resources | indent 10 }}
