{{- if .Values.grafana.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
name: {{ include "bg.name" . }}-grafana
labels:
app.kubernetes.io/name: grafana
spec:
replicas: 1
selector:
matchLabels:
app.kubernetes.io/name: grafana
template:
metadata:
labels:
app.kubernetes.io/name: grafana
spec:
containers:
- name: grafana
image: {{ .Values.grafana.image }}
ports:
- containerPort: 3000
resources:
{{ toYaml .Values.grafana.resources | indent 8 }}
{{- end }}
