apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ printf "%s-prometheus" (include "bg.name" .) | trunc 63 | trimSuffix "-" }}
  labels:
    {{- include "bg.labels" . | nindent 4 }}
    component: prometheus
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ .Values.labels.app }}
      component: prometheus
...
