{{- if .Values.prometheus.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
name: {{ include "bg.name" . }}-prometheus
labels:
app.kubernetes.io/name: prometheus
spec:
replicas: 1
selector:
matchLabels:
app.kubernetes.io/name: prometheus
template:
metadata:
labels:
app.kubernetes.io/name: prometheus
spec:
containers:
- name: prometheus
image: {{ .Values.prometheus.image }}
args:
- "--config.file=/etc/prometheus/prometheus.yml"
ports:
- containerPort: 9090
resources:
{{ toYaml .Values.prometheus.resources | indent 8 }}
{{- end }}
